/* VARIABLES */
:root{
    --color-primary-lighter: #7397FF;
    --color-primary: #4D7BFF;
    --color-primary-darker: #3660D9;
    --color-white-lighter: #FEFEFE;
    --color-white: #E4F1FE;
    --color-white-darker: #B8C8D9;
    --color-black-lighter: #181D29;
    --color-black: #121829;
    --color-black-darker: #010103;
    --color-disk-1: #F4AC45;
    --color-disk-2: #5B8E7D;
    --color-disk-3: #BD93BD;
    --color-disk-4: #80A1C1;
    --color-disk-5: #F64740;
    --color-disk-border: rgba(1,1,3,0.75);
    --color-tower: #694A38;
}

/* CONTENT */
body {
    margin: 0;
    padding: 0;
    background-color: var(--color-white);
}

/* HEADER */
.header{
    height: 80px;
    background-color: var(--color-primary);
    color: var(--color-white);
    display: grid;
    place-items: center;
}

.title {
    margin: 0;
}

/* CONTAINER */
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* TOWER */
.tower {
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 200px;
    height: 150px;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    border-bottom: 5px solid var(--color-tower);
    transition: .3s all;
}

.tower::before {
    content: '';
    position: absolute;
    width: 10px;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-tower);
}

/* DISKS */
.disk {
    z-index: 2;
    border-radius: 5px;
    height: 25px;
    box-sizing: border-box;
    border: 1px solid var(--color-disk-border);
    border-bottom: 2px solid var(--color-disk-border);
    transition: .3s all;
}

.disk--1 {
    width: 50px;
    background-color: var(--color-disk-1);
}

.disk--2 {
    width: 75px;
    background-color: var(--color-disk-2);
}

.disk--3 {
    width: 100px;
    background-color: var(--color-disk-3);
}

.disk--4 {
    width: 125px;
    background-color: var(--color-disk-4);
}

.disk--5 {
    width: 150px;
    background-color: var(--color-disk-5);
}

@media screen and (min-width: 400px) {
               
    /* TOWER */
    .tower {
        height: 175px;
        max-width: 250px;
    }

    /* DISKS */
    .disk {
        height: 30px;
    }
}
@media screen and (min-width: 500px) {

    /* HEADER */
    .header{
        margin-bottom: 100px;
    }

    /* CONTAINER */
    .container {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }                   

    /* TOWER */
    .tower {
        height: 250px;
        margin: 0 5px;
        max-width: 200px;
        border-bottom: 10px solid var(--color-tower);
    }

    /* DISKS */
    .disk {
        height: 40px;
    }
}

@media screen and (min-width: 750px) {
    
    /* CONTENT */
    .title {
        font-size: 3rem;
    }

    /* TOWER */
    .tower {
        max-width: 200px;
    }
}

@media screen and (min-width: 1000px) {

    /* TOWER */
    .tower {
        margin-right: 10px;
        max-width: 400px;
        height: 250px;
    }

    /* DISKS */
    .disk {
        height: 40px;
    }
    .disk--1 {
        width: 50px;
    }
    
    .disk--2 {
        width: 100px;
    }
    
    .disk--3 {
        width: 150px;
    }
    
    .disk--4 {
        width: 200px;
    }
    
    .disk--5 {
        width: 250px;
    }
}