/* VARIABLES */
:root{
    --color-primary-lighter: #7397FF;
    --color-primary: #4D7BFF;
    --color-primary-darker: #3660D9;
    --color-white-lighter: #FEFEFE;
    --color-white: #E4F1FE;
    --color-white-darker: #B8C8D9;
    --color-black-lighter: #181D29;
    --color-black: #121829;
    --color-black-darker: #010103;
    --color-disk-1: #F4AC45;
    --color-disk-2: #5B8E7D;
    --color-disk-3: #BD93BD;
    --color-disk-4: #80A1C1;
    --color-disk-5: #F64740;
    --color-disk-border: rgba(1,1,3,0.75);
    --color-tower: #694A38;
}

/* CONTENT */
body {
    margin: 0;
    padding: 0;
    background-color: var(--color-white);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100%;
}

/* STYLES */
.main-container {}

.main-container--blurred {
    filter: blur(5px);
}

.main-modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.main-modal--enabled {
    z-index: 2;
}

/* HEADER */
.header{
    height: 80px;
    background-color: var(--color-primary);
    color: var(--color-white);
    display: grid;
    place-items: center;
}

.title {
    margin: 0;
}

/* CONTAINER */
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* TOWER */
.tower {
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 200px;
    height: 150px;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    border-bottom: 5px solid var(--color-tower);
    transition: .3s all;
}

.tower::before {
    content: '';
    position: absolute;
    width: 10px;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-tower);
}

/* DISKS */
.disk {
    z-index: 2;
    border-radius: 5px;
    height: 25px;
    box-sizing: border-box;
    border: 1px solid var(--color-disk-border);
    border-bottom: 2px solid var(--color-disk-border);
    transition: .3s all;
}

.disk--1 {
    width: 50px;
    background-color: var(--color-disk-1);
}

.disk--2 {
    width: 75px;
    background-color: var(--color-disk-2);
}

.disk--3 {
    width: 100px;
    background-color: var(--color-disk-3);
}

.disk--4 {
    width: 125px;
    background-color: var(--color-disk-4);
}

.disk--5 {
    width: 150px;
    background-color: var(--color-disk-5);
}

/* INFO CONTAINER */
.info-background {
    background-color: var(--color-primary);
}
.info-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px 0;
    background-color: var(--color-primary);
    color: var(--color-white);
    height: 50px;
}

.step-count__container,
.button-reset__container,
.difficulty__container {
    width: 90px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.difficulty__container,
.step-count__container {
    padding: 5px 0;
    box-sizing: border-box;
}

.step-count__container {}

.step-count__label,
.step-count__value {
    margin: 0;
}

.step-count__label {
    font-weight: bold;
}

.step-count__value {
    font-size: 1.2rem;
}

.button-reset__container {}

.button-reset {
    height: 50px;
    width: 100%;
    border: 1px solid transparent;
    outline: 0;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

.button-reset:hover {
    color: var(--color-primary);
    background-color: var(--color-white);
    border: 1px solid var(--color-primary);
}

.difficulty__container {}

.difficulty__label {
    font-weight: bold;
}

.difficulty__option-container {
    width: 100%;
    cursor: pointer;
    outline: 0;
    border: none;
    color: var(--color-white);
    background-color: var(--color-primary-lighter);
    font-size: 1.1rem;
}

.difficulty__option {
    outline: 0;
    border: none;
}

/* MESSAGE WINNER */
.message-winner {
    text-align: center;
    padding: 15px;
    background-color: var(--color-primary-darker);
    color: var(--color-white);
    width: 250px;
    border-radius: 4px;
    box-shadow: 0 4px 8px var(--color-black);
    z-index: 2;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

.winner__title {
    margin: 0;
    font-size: 1.5rem;
}

.winner__text {}

.winner__difficulty {
    font-weight: bold;
}

.winner__steps-min {
    font-weight: bold;
}

.winner__steps-player {
    font-weight: bold;
}

.winner__button {
    outline: 0;
    border: 0;
    height: 40px;
    width: 150px;
    color: var(--color-white);
    background-color: var(--color-primary-lighter);
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.winner__button:hover{
    background-color: var(--color-white);
    color: var(--color-primary-darker);
}


@media screen and (min-width: 400px) {
               
    /* TOWER */
    .tower {
        height: 175px;
        max-width: 250px;
    }

    /* DISKS */
    .disk {
        height: 30px;
    }
}
@media screen and (min-width: 500px) {

    /* HEADER */
    .header{
        margin-bottom: 75px;
    }

    /* CONTAINER */
    .container {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }                   

    /* TOWER */
    .tower {
        height: 250px;
        margin: 0 5px;
        max-width: 200px;
        border-bottom: 10px solid var(--color-tower);
    }

    /* DISKS */
    .disk {
        height: 40px;
    }

    /* INFO CONTAINER */
    .info-container {
        font-size: 1.1rem;
        height: 80px;
    }

    .step-count__container,
    .button-reset__container,
    .difficulty__container {
        width: 140px;
    }
    
    .difficulty__container,
    .step-count__container {
        padding: 15px 0;
        box-sizing: border-box;
    }

    .button-reset {
        height: 80px;
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 750px) {
    
    /* CONTENT */
    .title {
        font-size: 3rem;
    }

    /* TOWER */
    .tower {
        max-width: 200px;
    }
}

@media screen and (min-width: 1000px) {

    /* TOWER */
    .container {
        max-width: 800px;
        margin: 0 auto;
    }

    .tower {
        margin-right: 10px;
        max-width: 400px;
        height: 250px;
    }

    /* DISKS */
    .disk {
        height: 40px;
    }
    .disk--1 {
        width: 50px;
    }
    
    .disk--2 {
        width: 100px;
    }
    
    .disk--3 {
        width: 150px;
    }
    
    .disk--4 {
        width: 200px;
    }
    
    .disk--5 {
        width: 250px;
    }

    /* INFO CONTAINER */
    .info-container {
        max-width: 800px;
        margin: 75px auto 0;
    }
}